# Replace with path to NDK for macOS.
ndk.dir.macos: ~/Library/Android/sdk/ndk-bundle

# Replace with path to NDK for Linux.
ndk.dir.linux: ~/android-ndk

# Replace with path to NDK for Linux in Vagrant environment.
ndk.dir.linux-vagrant: ~/linux-android-ndk
